@font-face {
    font-family: 'RetroGaming';
    src: url('../font/RetroGaming.ttf');
}

html, body {
    height: 100%;
}

html {
    box-shadow: inset 0 0 16px 4px rgba(0, 0, 0, 0.25);
}

body {
    background: #222;
    margin: 0;
}

#menu {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    color: #4a7fff;
    font: 44px 'RetroGaming';
    letter-spacing: -2px;
    margin: 0 0 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    color: #eee;
    cursor: pointer;
    font: 22px 'RetroGaming';
    margin-bottom: 4px;
    padding: 0;
}

button:focus {
    outline: 0;
}

button:hover {
    color: #bbb;
}

#options-menu, #leaderboard-screen {
    display: none;
}

.fullscreen-button {
    margin-bottom: 16px;
}

.loading-text, .leaderboard-wrapper {
    color: #666;
    font: 22px 'RetroGaming';
    margin-bottom: 24px;
}

.leaderboard {
    color: #ccc;
    margin: auto;
}

td {
    padding: 0 16px;
}

.version-text {
    bottom: 8px;
    color: #888;
    font: 22px 'RetroGaming';
    left: 8px;
    position: absolute;
}

@media (min-width: 1020px) {
    h1 {
        font-size: 66px;
    }

    button {
        font-size: 33px;
    }
}

@media (max-width: 340px) {
    h1 {
        font-size: 22px;
    }

    button, .loading-text, td, .version-text {
        font-size: 11px;
    }
}